# Copyright (c) 2023 Nuvoton Technology Corporation.
#
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_M2354
	bool "Nuvoton M2354 Series MCU"
	select ARM
	select CPU_CORTEX_M23
	#select CPU_CORTEX_M_HAS_DWT
	#select CPU_HAS_FPU
	select CPU_CORTEX_M_HAS_VTOR
	select CPU_HAS_ARM_SAU
	select CPU_HAS_ARM_MPU
	select CORTEX_M_SYSTICK if SYS_CLOCK_EXISTS
	select CORTEX_M_HAS_SYSTICK
	select SOC_FAMILY_NUMAKER
	help
	  Enable support for Nuvoton M2354 MCU series
